<div class='col-sm-12 col-lg-4 mb-3'>
	<div id='board-id-<%= board.id %>'>
		<div class='card'>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/<%= board.movie_url.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class='card-body'>
				<h5 class='card-title'><%= board.title %></h5>
				<p class='card-text'><%= board.content.truncate(60) %></p>
				<div class='text-right'>
					<% if logged_in? && current_user.own?(board)%>
						<%= link_to '編集', edit_board_path(board), class: 'btn-flat-border' %>
					<% end %>
					<%= link_to '詳細', board_path(board), class: 'btn-flat-border' %>
				</div>
			</div>
		</div>
	</div>
</div>