<%= form_with(model: @board, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object%>
  <div class='form-group'>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :content, "説明欄" %>
    <%= f.text_area :content, class: 'form-control', rows: 10 %>
  </div>
  <div class='form-group'>
    <%= f.label :movie_url, "YouTubeのURL  (https://www.youtube.com/watch?v=11桁の動画ID)"%>
    <%= f.text_field :movie_url, class: 'form-control' %>
  </div>
  <h4 class='pt-3'>タグ(,又は空白区切り)</h4>
  <div class='form-group'>
    <%= f.label :cat_type_list, "猫の種類" %>
    <%= f.text_field :cat_type_list, value: @board.cat_type_list.join(' '), class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :hair_color_list, "毛色" %>
    <%= f.text_field :hair_color_list, value: @board.hair_color_list.join(' '), class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :length_of_leg_list, "足の長さ" %>
    <%= f.text_field :length_of_leg_list, value: @board.length_of_leg_list.join(' '), class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :character_list, "性格" %>
    <%= f.text_field :character_list, value: @board.character_list.join(' '), class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :tag_list, "その他" %>
    <%= f.text_field :tag_list, value: @board.tag_list.join(' '), class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn-flat-border'%>
<% end %>
