<% content_for(:title, "#{@board.title} | CATching") %>

<div class='content m-5'>
  <h1 class='title p-4'><%= @board.title %></h1>
  <!-- 掲示板詳細 -->
  <div class='row'>
    <div class='col-lg-10 offset-lg-1 py-5'>
      <div class='embed-responsive embed-responsive-16by9'>
	      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @board.movie_url.last(11) %>" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class='sns-btn'>
        <div class='float-right p-1'>
          <%= link_to "https://twitter.com/share?url=#{ request.url }&text=#{ @board.title }の猫動画を押してます！%0a押し猫を探すならCATching%0a%0a%23CATching", class: 'btn btn-default ', target: '_blank', style: 'border: solid 2px #5c5e60;' do %>
            <i class='fab fa-twitter' style='color: #3399FF;'></i>
            Twitterでシェア
          <% end %>
        </div>
      </div>

      <% if @board.content.present?%>
        <div class='content-text mb-1'>
          <h4>説明</h4>
          <%= safe_join(@board.content.split("\n"),tag(:br)) %>
        </div>
      <% end %>
      
      <% if @cat_types.present? || @hair_colors.present? || @characters.present? || @length_of_legs.present? || @tags.present? %>
        <h4>タグ</h4>
        <div class='tag-group'>
          <% @cat_types.each do |cat_type| %>
            <%=link_to "#{cat_type.name}(#{cat_type.taggings_count})", boards_path(tag: cat_type.name), class: 'btn-flat-border mx-1' %>
          <% end %>

          <% @hair_colors.each do |hair_color| %>
            <%=link_to "#{hair_color.name}(#{hair_color.taggings_count})", boards_path(tag: hair_color.name), class: 'btn-flat-border mx-1' %>
          <% end %>

          <% @characters.each do |character| %>
            <%=link_to "#{character.name}(#{character.taggings_count})", boards_path(tag: character.name), class: 'btn-flat-border mx-1' %>
          <% end %>

          <% @length_of_legs.each do |length_of_leg| %>
            <%=link_to "#{length_of_leg.name}(#{length_of_leg.taggings_count})", boards_path(tag: length_of_leg.name), class: 'btn-flat-border mx-1' %>
          <% end %>

          <% @tags.each do |tag| %>
            <%=link_to "#{tag.name}(#{tag.taggings_count})", boards_path(tag: tag.name), class: 'btn-flat-border mx-1' %>
          <% end %>
        </div>
      <% end %>

      <div class='float-right'>
        <% if logged_in? && current_user.own?(@board)%>
          <%= link_to '編集', edit_board_path(@board), class: 'btn-flat-border mx-1' %>
          <%= link_to '削除', board_path(@board), method: :delete, data: { confirm: '動画情報を削除しますか?'}, class: 'btn btn-danger mx-1' %>
        <% end %>
      </div>
    </div>
  </div>
</div>